.best-box{
    padding: 50px 0;
}
.best-text{
    text-align: center;
    font-size: 38px;
    color: #252626;
}
.best-pi{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #707273;
    max-width: 750px;
    padding-top: 20px;
    margin: 0 auto;
}
.best-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.best-card{
    width: 350px;
    height: 300px;
    cursor: pointer;
    text-align: center;
}
.best-card:hover{
    transition-duration: 0.5s;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 5px #35AFBFD4;
}
.best-card-img{
    margin: 0 auto;
    margin-top: 30px;
}
.best-h3{
    font-size: 21px;
    margin-top: 30px;
    color: #252626;
    text-align: center;
}
.best-card-pi{
    padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #707273;
    margin: 0 auto;
    max-width: 300px;
}
@media (max-width:740px) {
    .best-cards{
        flex-direction: column;
    }
}
@media (max-width:400px) {
    .best-card{
        width: 270px;
        height: 350px;
    }
    .best-h3{
        font-size: 18px;
    }   
    .best-card-pi{
        font-size: 14px;
    }
}