* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 50px 0;
  background-image: url("../img/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list__item {
  margin: 0 15px;
}

.header-item__link {
  font-weight: 500;
  font-size: 16px;
  color: #969999;
}

.header-item__link:hover {
  color: #35AFBF;
}

.header-inner__btn {
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #35AFBF;
  border-radius: 6px;
  border: none;
}

.burger {
  display: none;
}

.burger span {
  width: 30px;
  height: 5px;
  margin: 4px;
  display: block;
  border-radius: 10px;
  background-color: #35AFBF;
}

@media (max-width: 800px) {
  .header-inner__btn {
    display: none;
  }
  .header-item__link {
    font-size: 14px;
  }
  .burger {
    display: block;
  }
}

@media (max-width: 650px) {
  .header-item__link {
    display: none;
  }
}

.hero-box {
  padding: 50px 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-one {
  font-size: 51px;
  color: #252626;
  font-weight: 700;
  max-width: 500px;
}

.hero-one span {
  color: #32A3B2;
}

.hero-pi {
  font-size: 21px;
  font-weight: 400;
  color: #707273;
  max-width: 480px;
  margin-top: 20px;
  line-height: 35px;
}

.hero-btn {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 10px;
  color: #35AFBF;
  font-size: 21px;
  background-color: #f3feff;
  border: 1px solid #35AFBF;
}

.hero-btn:hover {
  background-color: #35afbf;
  color: #fff;
}

.bg-img {
  width: 100%;
  max-width: 493px;
}

@media (max-width: 1000px) {
  .hero-one {
    font-size: 41px;
  }
  .hero-pi {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.provide-box {
  padding: 30px 0;
}

.provide-text {
  font-size: 38px;
  color: #252626;
  font-weight: 700;
  text-align: center;
}

.provide-pi {
  font-weight: 400;
  font-size: 16px;
  color: #707273;
  padding-top: 30px;
  line-height: 30px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-one {
  width: 230px;
  height: 250px;
  cursor: pointer;
  text-align: center;
}

.card-one:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/Background.svg");
}

.card-text {
  font-weight: 600;
  padding-top: 20px;
  font-size: 21px;
  color: #252626;
}

.card-pi {
  font-weight: 400;
  font-size: 16px;
  color: #707273;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

.icon-one {
  margin-top: 30px;
}

@media (max-width: 640px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.doe-box {
  padding: 30px 0;
}

.doe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doe-one {
  font-weight: 700;
  font-size: 38px;
  color: #252626;
}

.doe-pi {
  font-weight: 500;
  margin-top: 20px;
  font-size: 16px;
  color: #707273;
}

.doe-pi-two {
  font-weight: 400;
  max-width: 400px;
  line-height: 35px;
  margin-top: 20px;
  font-size: 16px;
  color: #707273;
}

.doe-btn {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 30px;
  border: 1px solid #35AFBF33;
  color: #35AFBF;
}

.doe-btn:hover {
  background-color: #35AFBF;
  color: #fff;
}

@media (max-width: 700px) {
  .img-3 {
    width: 300px;
  }
  .doe-one {
    font-size: 30px;
  }
  .doe-pi {
    font-size: 12px;
  }
  .doe-pi-two {
    font-size: 13px;
  }
  .doe-btn {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .doe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}

@media (max-width: 350px) {
  .img-3 {
    width: 200px;
  }
}

.watch-box {
  padding: 80px 0;
  background-image: url("../img/watch.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.watch {
  text-align: center;
}

.watch-text {
  margin-top: 80px;
  font-size: 38px;
  color: #fff;
}

.watch-pi {
  font-size: 16px;
  max-width: 700px;
  line-height: 35px;
  color: #fff;
  padding-top: 30px;
  margin: 0 auto;
}

.play {
  margin-top: 50px;
}

.best-box {
  padding: 50px 0;
}

.best-text {
  text-align: center;
  font-size: 38px;
  color: #252626;
}

.best-pi {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #707273;
  max-width: 750px;
  padding-top: 20px;
  margin: 0 auto;
}

.best-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-card {
  width: 350px;
  height: 300px;
  cursor: pointer;
  text-align: center;
}

.best-card:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 5px 5px #35AFBFD4;
          box-shadow: 0px 5px 5px 5px #35AFBFD4;
}

.best-card-img {
  margin: 0 auto;
  margin-top: 30px;
}

.best-h3 {
  font-size: 21px;
  margin-top: 30px;
  color: #252626;
  text-align: center;
}

.best-card-pi {
  padding-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #707273;
  margin: 0 auto;
  max-width: 300px;
}

@media (max-width: 740px) {
  .best-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  .best-card {
    width: 270px;
    height: 350px;
  }
  .best-h3 {
    font-size: 18px;
  }
  .best-card-pi {
    font-size: 14px;
  }
}

.logo-box {
  padding: 50px 0;
  background-image: url("../img/Background (2).svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.logo-text {
  font-size: 32px;
  color: #4B4C4C;
  margin: 0 auto;
  max-width: 1050px;
  padding-top: 30px;
  line-height: 45px;
}

.logo-img-2 {
  margin-top: 50px;
}

@media (max-width: 500px) {
  .logo-text {
    font-size: 20px;
  }
}

.people-box {
  padding: 50px 0;
}

.people {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.people-text {
  font-size: 38px;
  color: #252626;
}

.people-btn {
  padding: 10px 30px;
  background-color: #fff;
  font-size: 16px;
  color: #35AFBF;
  border-radius: 10px;
  border: 1px solid #35AFBF;
  margin-top: 50px;
}

.people-btn:hover {
  background-color: #35AFBF;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */